@import '../css/bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries


html {
  font-size: 62.5%;
}

body {
  font: {
    size: 1.6rem;
    family: $primary-font; // variables inside partials > _variables.scss
    weight:100;
  }
  color: $color-6;
  background-color: shade($color-1, 20%);
  @include font-smoothing;

  &::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
  }

  @include MQ(L) {

    &::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop';
    }
  }
}

a {
  color: $color-3;
  text-decoration: none;
}

.cd-section {
  height: 100vh;

  h2 {
    line-height: 100vh;
    text-align: center;
    font-size: 2.4rem;
  }

  .contentWrapper {
    position: absolute;
    top: 47vh;
    font-size: 2.4rem;
    text-align: center;

    &.centered {
      max-width: 1024px;
      margin: 0 auto;
      padding: 50px;
      right: 0;
      left: 0;
    }

    &.fullscreen{
      width: 100%;
      margin: 0 auto;
      padding: 0;
      right: 0;
      left: 0;
      top: 0;
    }
  }

  .logoWrapper{
    position: absolute;
    bottom: -3px;

    img{
      height:16vh;
    }

    &.left{
      left:0;
    }

    &.right{
      right:0;
    }
  }

  * { box-sizing: border-box; }

  .bx-wrapper{
    ul{
      li{
        .video-background {
          //background: #000;
          //position: absolute;
          //top: 0; right: 0; bottom: 0; left: 0;
          z-index: 999;
          height: 100vh;

          .video-foreground,
          .video-foreground iframe {
            width: 100vw;
            height: 100vh;
          }
          #vidtop-content {
            top: 0;
            color: #fff;
          }
        }

      }
    }
    .bx-controls {
      top: -100vh;
      position: relative;
      height:0;
      z-index: 99;

      .bx-controls-direction{
        height: 0;
        width: 100vw;

        .bx-prev{
          position: absolute;
          left:0;
          cursor: url(../img/3_gallery_links_50.png),auto !important;
        }

        .bx-next{
          position: absolute;
          right:0;
          cursor: url(../img/3_gallery_rechts_50.png),auto !important;
        }

        a{
          width:35vw;
          height:100vh;
          color: $transparent;
        }
      }
    }
  }
  //@media (min-aspect-ratio: 16/9) {
  //  .video-foreground { height: 300%; top: -100%; }
  //}
  //@media (max-aspect-ratio: 16/9) {
  //  .video-foreground { width: 300%; left: -100%; }
  //}
  //@media all and (max-width: 600px) {
  //  .vid-info { width: 50%; padding: .5rem; }
  //  .vid-info h1 { margin-bottom: .2rem; }
  //}
  //@media all and (max-width: 500px) {
  //  .vid-info .acronym { display: none; }
  //}

}
