@import '../css/bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

.navigation {
	position: absolute;
	li {
		p {
			color: $color-nav;
			font-weight: 100;
			min-width: 30vw;

			&.active {
				color: $color-6;
			}

			&:hover {
				cursor: default;
			}
		}
	}

	&.right{
		right: 0;
		top:0;
		li {
			p {
				font-size: 15vh;
				text-align: right;
			}
		}
		&.small{
			li{
				p{
					font-size: 10vh;
				}
			}
		}
	}

	&.left{
		left: 0;
		top:0;
		li {
			p {
				font-size: 15vh;
				text-align: left;
			}
		}
		&.small{
			li{
				p{
					font-size: 8vh;
				}
			}
		}
	}

	&.bottom{
		left: 0;
		bottom:0;
		li {
			display: inline;
			p {
				font-size: 4vw;
				text-align: left;
				display: inline;
			}
		}
	}

	&.top{
		left: 0;
		top:0;
		li {
			display: inline;
			p {
				font-size: 4vw;
				text-align: left;
				display: inline;
			}
		}
	}
}

.inactive{
	visibility: hidden;
}

.deactivated{
	display: none;
}

.invisible{
	opacity: 0;
}

.cd-vertical-nav {
	/* lateral navigation */
	position: fixed;
	z-index: 1;
	left: 2%;
	@include center(y);
	display: none;

	a {
		display: block;
		height: 40px;
		width: 40px;

		/* image replace */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;

		background: url(../img/cd-icon-arrow.svg) no-repeat center center;

		&.cd-prev {
			@include transform(rotate(180deg));
			margin-bottom: 10px;
		}

		&.inactive {
			visibility: hidden;
			opacity: 0;
			@include transition(opacity 0.2s 0s, visibility 0s 0.2s);
		}
	}

	@include MQ(L) {
		display: block;
	}
}
